.row {
  display: flex;
  flex-flow: row wrap;
}

.column-1 {
  background-color: #000;
  width: calc(100% / 12);
}
.column-2 {
  background-color: #111;
  width: calc(200% / 12);
}
.column-3 {
  background-color: #222;
  width: calc(300% / 12);
}
.column-4 {
  background-color: #333;
  width: calc(400% / 12);
}
.column-6 {
  background-color: #555;
  width: calc(600% / 12);
}
.column-12 {
  background-color: #bbb;
  width: calc(1200% / 12);
}

@media screen and (min-width: 30em) {
  .column-sm-1 { width: calc(100% / 12) }
  .column-sm-2 { width: calc(200% / 12) }
  .column-sm-3 { width: calc(300% / 12) }
  .column-sm-4 { width: calc(400% / 12) }
  .column-sm-6 { width: calc(600% / 12) }
  .column-sm-12 { width: calc(1200% / 12) }
}
@media screen and (min-width: 48em) {
  .column-md-1 { width: calc(100% / 12) }
  .column-md-2 { width: calc(200% / 12) }
  .column-md-3 { width: calc(300% / 12) }
  .column-md-4 { width: calc(400% / 12) }
  .column-md-6 { width: calc(600% / 12) }
  .column-md-12 { width: calc(1200% / 12) }
}
@media screen and (min-width: 62em) {
  .column-lg-1 { width: calc(100% / 12) }
  .column-lg-2 { width: calc(200% / 12) }
  .column-lg-3 { width: calc(300% / 12) }
  .column-lg-4 { width: calc(400% / 12) }
  .column-lg-6 { width: calc(600% / 12) }
  .column-lg-12 { width: calc(1200% / 12) }
}
@media screen and (min-width: 75em) {
  .column-xl-1 { width: calc(100% / 12) }
  .column-xl-2 { width: calc(200% / 12) }
  .column-xl-3 { width: calc(300% / 12) }
  .column-xl-4 { width: calc(400% / 12) }
  .column-xl-6 { width: calc(600% / 12) }
  .column-xl-12 { width: calc(1200% / 12) }
}

.row > [class^='col'] {
  text-align: center;
  padding: 10px;
  outline: thick solid black;
}

/*coloco las resoluciones en donde quiero que mis celdas flex sean de otra cantidad de columnas, esto se logra colocando tamaños que se ajusten al 100% del viewport que son los porcentajes los cuales sean divididos entre 12, 6, 4, 3, 2 y  1*/

/*propiedad supports (Feature queries)*/

@supports (display: grid) and (grid-template-columns: subgrid) {
  p {
    padding: 10px;
  }
  p::after {
    color: #fff;
    content: 'tu navegador es firefox o safari ✔';
  }
  .row > [class*='umn'] {
    background-color: #bbb;
  }
  body {
    background-color: #222;
  }
}

/* @media print <- para cuando es imprime algo */