
/* GRID (controlar la falta de celdas) */

.grid-container {
  width: 100vw;
  background-color: #888;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-template-rows: repeat(3, 150px);
  grid-gap: 5px; 
}
.grid-items {
  background-color: #bbb;
}
/*en este momento tenemos una falta de items teniendo 6 items en el html sin embargo podemos ocupar filas con unas propiedades y con unos short hands, en esto tendriamos 6 items pero 9 celdas (cell), luego todos estos son objetos que todabia son explicitos por lo que podemos editarlos con grid-template normal, luego estos pueden ser editados por span o por ---> row-lines y por --> column-lines*/

/*esto es totalmente perzonalizable por lo que si no tenemos multplos en tre las celdas creadas y las que tenemos lo mejor es editar una por una*/
.grid-items:first-child {
  grid-column: 1 / 3;
  grid-column: 1 / span 3;
}
/*
primera   segunda     tercera     cuarta
|         |           |            |
|         |           |            |
|         |           |            |
|         |           |            |
|         |           |            |
|         |           |            |
        ( COLUMNS - LINES  )

*/
/*esto significa que comenzamos por defecto en la primera caja desde la column-line 1 hasta la column-line 2 (l0 que hice fue engrandeser la column line hasta ocupar 2 column), pero luego la engrandecí 3 celdas uando span p0or lo que tendria un item agarrando desde la column-line 1 hasta la 4*/

/*por lo que tendriamos en una tabla 3x3 4 column-lines y 4 row-lines*/

.grid-items:nth-child(2) {
  grid-row: 2 / 4;
  grid-column: 1 / 2;/*por defecto estaba así*/
  /*short hand*/
  grid-area: 2 / 4  1 / 2;
  /*      grid-row  grid-column */
}
/*por ultimo hacemos que el item 2 coja 2 celdas pero respecto a las filas, se agarro 2 filas */

/*comienza desde la 2 y termina en la 4 row-line*/

/*
--------------------------------------------------primera


--------------------------------------------------segunda


--------------------------------------------------tercera


--------------------------------------------------cuarta
                   ( ROW - LINES )
*/

/*grid area es un conjunto de celdas consecutivas*/
/*grid track es un conjunto de filas unitarias o un conjunto de columnas unitarias*/