/* Animaciones */
/*actualizar página para ver las animaciones desde el inicio*/

.contenedor {
  width: 90vw;
  height: 90vh;
  padding: 30px;
  background-color: #aaa;
  margin: 30px;
  position: relative;
}

.caja {
  position: relative;
  background-color: #666;
  height: 80px;
  width: 80px;
  margin: 10px;
  animation-name: desplazarse;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-direction: reverse; /*por defecto es (normal), si quieres ir de to a from es (reverse), las dos es (alternative),  y las 2 pero comienza con reverse (alternative-reverse)*/
  /*modo final (cuando termina)*/
  animation-fill-mode: none; /*se queda como se definico antes (no al inicio de la animación(la cual inicia cuando carga toda la página))*/
  animation-fill-mode: backwards; /*se queda como inició*/
  animation-fill-mode: forwards;/*se queda como finaliza */
  animation-fill-mode: both; /*para que termina como forwards (como terminó), pero inicia con from y no queda con valores que antes venian definidos(la mejor propiedad para muchos)*/
  /*short hand no muy recomendable*/
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: desplazarse 1s ease 0s 1 reverse both;
}

.caja2 {
  position: relative;
  background-color: #aaa ;
  height: 80px;
  width: 80px;
  margin: 10px;
  animation-name: desplazarse-2;
  animation-duration: 2s;/*propiedades similares a transition*/
  animation-timing-function: ease;
  animation-delay: 1s;
  /*repetirla*/
  animation-iteration-count: infinite; /*repeticiones de animación*/
  animation-direction: alternate; /*dirección en la linea del tiempo creada del keyframe (normal, reverse, alternative, alternative-reverse)*/
  animation-fill-mode: both;
  /*aquí el fill-mode es innecesario*/
  animation: desplazarse-2 2s ease 1s infinite alternate both;
  /* primero el nombre luego el tiempo y su modo, luego el delay y por ultimo las repeticiónes ls direcciones y el 'estado de animación' */
}

/*crear animaciones es como crear funciones*/

@keyframes desplazarse {
  from {
    left: 0;
  }

  to {
    left: 80%;
  }
} /*from antes, to despues*/

@keyframes desplazarse-2 {
  0% {
    left: 0;
    background-color: #aaa ;
  }

  50% {
    background-color: #777;
  }

  100% {
    left: 80%;
    background-color: #222;
  }
}

/*Cubic Bezier*/
/* es la edición de las curvas de bezier las cuales son las timing-function */
.caja2 {
  animation-timing-function: cubic-bezier(0.075, 0.95, 0.150, 1);
  /*                                       x1     y1     x2    y2     */
  /* son como 2 puntos los cuales representan la agresividad de movimiento que se realiza */
  /*no se recomienda hacerlo manual pero es bueno quedarse jugando con esto y cuando se quiera prersonalizar una hacerlo a partir de una predeterminada en las sugerencias (y luego modificarla poco más)*/
  /*o modificarlas en el navegador*/
}

.caja3 {
  position: relative;
  background-color: #aaa;
  height: 80px;
  width: 80px;
  margin: 10px;
  animation: desplazarse-2 2s ease 1s infinite alternate both;

}

.caja3 {
  animation-timing-function: cubic-bezier(0, 1.32, 1,-0.14); /*pueden hacer este tipo de cosas*/

  /*si quieres complicarte o descomplicarte podes bucar generador de curvas bezier*/
  animation-play-state: running ; /*paused (es la otra y se utiliza en javascript)*/
}
.caja3:active {
  animation-play-state: paused;
}

/*
shorthands buenas
aniamtion: name duration iteration-count;
aniamtion: name duration iteration-count timing-function;
*/