.flex-container {
  display: flex; /*o tambien inline-flex (pasa a ser contenedor bloque a inline)*/
  width: 100vw;
  height: auto;
}
.flex-item {
  background-color: lightblue;
  height: 100px;
  width: 100px; /*si coloco un width al tener activado flex-wrap: wrap, tira para abajo cuando una caja es forzada a disminuir tamaño, pero con min-with cuando usamos flex, podemos hacer que ocupe más espacio*/
  min-width: 100px;
  margin: 10px;
}
.flex-item:nth-child(1) {
  background-color: lightskyblue;
}
.flex-item:nth-child(8) {
  background-color: lightgray;
}
/*primero entender que es el Main axis y Cross axis
-------------------------------------------->
main start                          main end
_______________MAIN AXIS_____________________
(es un eje imaginario en x en dirección derecha que es donde se van ubicando las cajas por defecto)
 | cross start
 |
 |
 |                   CROSS AXIS
 |
 |
 |
 |
\─/ cross end
(es otra direccion de un eje imaginario en y de arriba a abajo y no es la direccion por defecto)


( CUANDO SE CAMBIA UN DIRECCION EN EL MAIN AXIS O EN EL CROSS AXIS LOS ROLES SE INTERCAMBIAN POR LO QUE SI SE CAMBIA UNO POR DEFECTO SE CAMBIA EL OTRO)
*/
.flex-container {
  flex-direction: row; /*POR DEFECTO POR EL MAIN AXIS*/
  flex-direction: row-reverse; /*es main axis pero cambia la direccion del main end*/
  flex-direction: column; /*solo va por el cross axis*/
  flex-direction: column-reverse; /*cambia al cross axis y cambia el sentido del cross end*/
  flex-direction: row;
}
/*Si quieres que el contenedor con display flex tire las cajas que tiene adentro hacia abajo ya que la cross axis esta por defecto hacia abajo*/
.flex-container {
  flex-wrap: wrap; /*tambien hay wrap-reverse*/
}
.flex-item {
  flex: 1;
}
/*UNA SHORT HAND PARA:
FLEX-DIRECCION: row | row-reverse | column | column-reverse
Y
FLEX-WRAP: nowrap | wrap | wrap-reverse
ES
flex-flow: flex-direction flex-wrap;
*/
.flex-container {
 flex-flow: row wrap; /*el shorthand que resume este modulo*/
}