/*GRID AREAS*/
.grid-container {
  display: grid;
  grid-template-areas: /*crear literalmente las areas*/
  'header header header'
  'aside main main'
  'aside main main'
  'aside main main'
  'footer footer footer';
  /*por defecto esas 3 columnas y 4 filas que se crean son como de 1 fr o similar*/
  /*ya que se crea 4 filas*/
  grid-template-rows: 5em repeat(3, 1fr) 5em;
  background-color: #444;
  height: 95vh;
  margin: 10px;
  border: 1px solid #333;
  grid-gap: 5px;
}

.grid-item {
  padding: 20px;
}

.grid-header {
  background-color: lightgreen;
  grid-area: header;
}
ul li {
  display: inline-block;
}
.grid-main {
  background-color: lightcoral;
  grid-area: main;
}
article {
  width: 60vw;
  background-color: gray;
  height: 50%;
  margin: 5px;
}
.grid-aside {
  background-color: #ff8;
  grid-area: aside;
}
.grid-footer {
  background-color: lightpink;
  grid-area: footer;
}