/* EXTRAS */
* {
  scroll-behavior: smooth; /*trnsición suave*/
}

#aca {
  color: white;
  background-color: gray;
}
p:first-child {
  direction: rtl;/*por defecto es ltr*/
  letter-spacing: 5px; /*I M P O R T A N T E sirve mucho es para separar por pixeles o medidas letra y letra*/
  user-select: none;/*no poder seleccionar algo*/
}
/*:valid cuando un input es correcto*/