/*GRID AREAS*/
/*Y SOBREPOSICIÓN DE GRID AREAS*/
.grid-container {
  display: inline-grid;
  grid-template-rows:
    [a-line] /*nombrando las lineas a la hora de hacer las rows*/
    150px
    [b-line]
    150px
    [c-line]
    150px
    [d-line]
    150px
    [d-line];
  grid-template-columns:
    [A-line] /*estos nombres pueden utilizarse luego*/
    150px
    [B-line]
    150px
    [C-line]
    150px
    [D-line]
    150px
    [E-line];
  background-color: #444;
  border: 2px solid #333;
}

.grid-item {
  border: 1px solid #222;
  background-color: grey;
}

.grid-item:first-child {
  background-color: #f54;
/*  grid-row: 1 / 3; */
  grid-row: a-line / c-line; /*o de esta manera con las lineas*/
/*  grid-column: 1 / 3; */
  grid-column: A-line / C-line;
}
.grid-item:nth-child(2) {
  background-color: #5f6; /*colores matecito*/
  grid-row: a-line / c-line;
  grid-column: C-line / E-line;
}
.grid-item:nth-child(3) {
  background-color: #67f;
  grid-row: b-line / d-line;
  grid-column: B-line / D-line;
  opacity: 0.9;
  order: 1 ; /*para que se ponga al frente*/
}
.grid-item:nth-child(4) {
  background-color: #f7f;
  grid-row: c-line / e-line;
  grid-column: A-line / E-line;
  grid-area: c-line / e-line A-line / E-line;/*lo mismo (para repasar)*/
}

/*para organizar en una matriz de 3x3 y poder utiliar mejor las grid-area, nombro las lineas y luego relleno todos los espacion con mi insuficiencia de items (utilice 4 para llenar el resto de celdas y no tener un exceso y tener que generarlos automaticos porque sino no podría nombrarlos)*/

/*se puede como no se pueden usar estos short hands (por mí yo no lo ago o en ocaciones puede ser)

1. Grid: (engloba muchas propiedades como gap, auto, templates (no recomendable por modulariación de codigo))

2. grid-template: row y columns (tambien para grid area)

*/