
/* GRID */

.grid-container {
  width: 100vw; /*podes definir width si queres o height si quieres*/
  background-color: #888;
  display: grid;/*se comporta como un tipo de tabla y por defecto se encuentra con grids implícitos los cuales en la siguiente siguiente seccion aprenderemos a controlar con grid-auto-rows y grid-auto-columns*/
  grid-template-columns: 150px 150px 150px; /*crear 3 columnas de 150px de width*/
  grid-template-columns: repeat(3, 150px);/*repite 3 veses lo de la recha por lo que es lo mismo que lo de arriba*/
  grid-template-columns: repeat(3, minmax(min-content, 1fr));/*min-content es el tamaño minimo sin dañar el contenido independiente más largo (como la palabra más larga separada por espacios)*/
  /*max-content es el tamaño maximo donde al contenido de cada item no le sobra espacio pero tampoco le falta*/
  /* minmax sirve para establecer cuando es el minimo de tamaño que debe de tener el item , minmax(minimo, maximo) */

  grid-template-rows: repeat(3, 150px); /*crear 3 filas con un HEIGHT 150px*/
  grid-row-gap: 5px; /*espacio entre filas*/
  grid-column-gap: 5px; /*espacio entre columnas*/
  grid-gap: 5px 50px; /*short hand (de la grid-column-gap y luego de la grid-row-gap) */
  grid-gap: 5px; /*short hand de los 2*/
}
.grid-items {
  background-color: #bbb;
}