/*TIPOD DE NORMALIZE*/
* {
  padding: 0;
  margin: 0;
}

/* BOX MODEL: content - padding - border - margin*/ /* IMPORTANTE */
.content-box {
  font-size: 16px; /* depende del tamaño de este que es 1em en el parrafo de adentro */
  width: 50vw;/*la mitad del tamaño del ancho de la pantalla del navegador*/
  height: 50vh;/*1vh es el 1% del tamaño de la altura de la pantalla del navegador*/
  background-color: burlywood;
  padding: 1em; /*16 pixeles (esto es un ShortHand) */
  /*lo mismo que: */
  padding: 1em 1em; /* arriba y abaja 1em - derecha y izquierda 1me */
  padding: 1em 1em 1em 1em; /*top - right - bottom - left*/
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  margin: 1em; /* es otro short hand igual que padding*/
  /*se puede jugar con margenes negativos*/
  text-align: center; /* centrar contenido de la caja */
  text-decoration: none; /*sirve para que por ejemplo los link no tengan underline*/
  border-radius: 3em; /*bordear la caja por todos los lados*/
  border-radius: 3em 3em 3em 0; /*short hand*/
  border-top-left-radius: 3em;/*este es el orden, según las manecillas del reloj y desde arriba izquierda*/
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
  border-bottom-left-radius: 0;
  border: 4px solid black; /* TAMAÑO ESTILO COLOR */
  /* Estilos:  ((solid)) dashed (double) groove ridge (inset) (outset) <- los buenos los encierro*/ /* IMPORTANTE */

  /* Box shadow */
  box-shadow: 30px 10px 0px 10px black; /*right - bottom - focus - borde - color*/
  box-shadow: 30px 10px 0px black; /*right - bottom - focus - color  (mejor esta) */
  outline: 4px solid rgb(218, 185, 142); /*sirve para resaltar, en si no afecta en DOM*/
}
.content-box__p {
  font-weight: bold; /*normal es la normalita; los valores van de 100 a 900 */
  font-size: 5em;/*tamaño*/
  font-family: Georgia;/*estilo de la letra*/
  font-family: sans-serif;
  font-family: "Silkscreen", cursive; /*bucar en google font*/
  font: bold 5em "Silkscreen", Georgia; /*short hand recomendada*/
  line-height: 1; /*lo normal ( el 3 triplica la linea de texto (1.5 para arriba y 1.5 para abajo) )  */
  text-shadow: 5px 2px 6px #222; /* right - bottom - focus - color (si separas por comas la misma propiedad en la misma linea, se puede intensificar)*/
}
p {
  font-family: "Silkscreen", cursive; /*primero se coloca la funte en html y luego se llama en css*/
}